$radius: 5px;
$border: 2px solid;
$width: 500px;
$height: 600px;

.result {
	border: $border;
	border-radius: $radius;
	margin: 3px;
}

.main_box {
    float: center;
    position: relative;
    margin: auto;
    width: $width+50;
    height:$height+50;
}